<h2>{{lotName}}</h2>

{{#if isEditing}}
<form>
  <div class="form-group">
    <label for="lotName">Lot Name</label>
      {{input value=lotName id="lotName" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="sessionTime">Session Time</label>
      {{input value=sessionTime id="sessionTime" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="location">Location</label>
      {{input value=location id="location" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="picture">Picture</label>
      {{input value=picture id="picture" class="form-control"}}
  </div>

  <button class="brn brn-primary" {{action 'save'}}>Save</button>
</form>
{{else}}

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
{{/if}}

<button class="btn btn-danger" {{action 'delete'}}>Delete</button>

{{outlet}}

<h2>Items</h2>

{{#each item in items itemController="item"}}
  <p>
    {{item.description}}
  </p>
{{/each}}

<p>{{#link-to 'new-lot' this class="btn btn-success"}}New Item{{/link-to}}</p>
