<h2>New Lot Item</h2>

<form>
  <div class="form-group">
    <label for="description">Description</label>
    {{input value=description id="description" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="owner">Owner</label>
    {{input value=owner id="owner" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="bidNumber">Bid Number</label>
    {{input value=bidNumber id="bidNumber" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="startPrice">Estimated Starting Price</label>
    {{input value=startPrice id="startPrice" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="history">History</label>
    {{input value=history id="history" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    {{input value=image id="image" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'add'}}>Add</button>

</form>
